services:
  readsb:
    build: readsb/
    restart: unless-stopped
    container_name: readsb
    privileged: true
    ports:
      - 30003:30003
    env_file: config.vars
    environment:
      - RECEIVER_OPTIONS=--device-type rtlsdr --gain auto-verbose
      - DECODER_OPTIONS=--max-range 0 --write-json-every 1
      # sbs-jaero-in-port 30008: OGN traffic input port (from ogn2dump1090, jaero-sbs takes priority over mlat, while normal sbs doesn't, so we use that)
      - NET_OPTIONS=--net --net-heartbeat 60 --net-ro-size 1250 --net-ro-interval 0.05 --net-ri-port 30001 --net-ro-port 30002 --net-sbs-port 30003 --net-bi-port 30004,30104 --net-bo-port 30005 --net-sbs-jaero-in-port 30008 --jaero-timeout 1 --forward-mlat
      - JSON_OPTIONS=--json-location-accuracy 2 --range-outline-hours 24 --write-json /tmp/readsb --quiet
      - FEEDER_1=--net-connector in.adsb.lol,30004,beast_reduce_out --net-connector=out.adsb.lol,1366,sbs_in_mlat
    volumes:
      - /tmp:/tmp
  mlat-client-adsblol:
    build: mlat-client/
    container_name: mlat-client-adsblol
    restart: unless-stopped
    env_file: config.vars
    environment:
      - MLATSERVER=in.adsb.lol:31090
      - BEAST_OUT_HOST=readsb:30005
      - BEAST_IN_HOST=readsb:30104
  tar1090:
    build: tar1090
    container_name: tar1090
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - /tmp/readsb:/tmp/readsb
      - /tmp/tar1090:/run/tar1090
  rtlsdr-ogn:
    build: rtlsdr-ogn
    container_name: rtlsdr-ogn
    restart: unless-stopped
    privileged: true
    ports:
      - 8080:8080
      - 8081:8081
      - 50000:50000
      - 50001:50001
    env_file: config.vars
    environment:
      - APRS_SERVER=ogn2dump1090:14580
  ogn2dump1090:
    build: ogn2dump1090
    container_name: ogn2dump1090
    restart: unless-stopped
    env_file: config.vars
    environment:
      - OGN_DECODE_TELNET_HOST=rtlsdr-ogn
      - OGN_DECODE_TELNET_PORT=50001
      - SBS_DESTINATION_HOST=readsb
      - SBS_DESTINATION_PORT=30008
